.BgImage {
    display: none;
}

@media(min-width: 500px) {
    .BgImage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        z-index: -1;
    }
    .BgImage img{
        display: block;
        position: absolute;
        width: 99vw;
    }
}