.OrderForm {
    display: flex;
    flex-flow: column;
}

.OrderForm h2{
    text-align: center;
}

.OrderForm button {
    margin: 30px auto;
}

@media (min-width: 500px) {
    .OrderForm {
        min-width: 50%;
        max-width: 700px;
    }
}