.ServicesItems {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

@media (min-width: 500px) {
    .ServicesItems {
        flex-flow: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}