.Header {
    height: 56px;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px inset var(--color-lightgray);
}

@media (max-width: 499px) {
    .Header {
        height: 50px;
    }
}

.Header nav {
    height: 100%;
}
