.PortfolioItem {
    list-style: none;
    padding: 0 5%;
    background-color: white;
    min-height: 373.25px;
}

.PortfolioItem:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 5px solid var(--color-ultralightgray);
}

.PortfolioItem img {
    display: block;
    width: 100%;

}

@media (min-width: 500px) {
    .PortfolioItem {
        width: 30%;
        padding: 0;
        margin-right: 35px;
    }
    .PortfolioItem:not(:last-child) {
        border-bottom: none;
    }
    .PortfolioItem img {
        height: 247.5px;
    }
}