.FeaturesItem:not(:last-child) {
    list-style: none;
    margin-bottom: 30px;
}

.FeaturesIcon {
    font-size: 75px!important;
    color: var(--color-gray);
}

@media (min-width: 500px) {
    .FeaturesItem {
        margin-bottom: 0;
        width: 25%;
    }
}