.PortfolioItem:not(:last-child) {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--color-ultralightgray);
    padding: 0 5%;
}

.PortfolioItem img {
    display: block;
    width: 100%;
}