.DrawerToggle {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 80%;
    width: 30px;
}

.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: var(--color-main);
}


