.Logo {
    display: flex;
    color: var(--color-header);
    font-size: 27px;
    font-weight: bold;
    font-family: 'Playball', cursive;
}

@media (max-width: 499px) {
    .Logo {
        margin: auto;
    }
}

