.Logo {
    display: flex;
    margin: auto;
    cursor: pointer;
}

.Logo a {
    color: var(--color-header);
    font-size: 27px;
    font-weight: bold;
    font-family: 'Playball', cursive;
    text-decoration: none;
}


