.Logo {
    display: flex;
    margin: auto;
    cursor: pointer;
}

@media (min-width: 500px) {
    .Logo {
        margin: 0;
    }
    .LogoHeader a:hover {
        color: var(--color-second);
    }
    .LogoFooter:hover {
        background-color: var(--color-second);
    }
}

.LogoHeader a {
    color: var(--color-main);
    font-size: 27px;
    font-weight: bold;
    font-family: 'Playball', cursive;
    text-decoration: none;
    transition: all .3s;
}

.LogoFooter {
    font-size: 37px;
    font-family: 'Playball', cursive;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    transition: all .3s;
}

.LogoFooter a {
    margin-left: -8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: var(--color-warmlite);
}


