.Greetings {
    text-align: center;
    border-bottom: 1px inset var(--color-lightgray);
    width: 90%;
    padding: 0 0 40px 0 ;
}

@media (min-width: 500px) {
    .Greetings {
        border-bottom: none;
    }
}
