
.Services{
    text-align: center;
    /* Greetings Component has 95% width */
    padding: 0;
    position: relative;
    width: 90%;
}

@media (max-width: 499px) {
    .Services {
        padding-top: 15px;
    }
}
