.NavigationItem a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color-gray);
    text-transform: initial;
    font-weight: bold;
}

.NavigationItem {
    margin-bottom: 30px;
}

@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        align-items:center;
        justify-content: center;
        margin-bottom: 0;
        height: 100%;
    }
    .NavigationItem:not(:last-child) {
        margin-right: 15px;
    }

    .NavigationItem a{
        transition: all .3s;
        border-bottom: 1px solid transparent;
    }

    .NavigationItem a:hover {
        color: var(--color-main);
        border-bottom: 1px solid var(--color-main);
    }
    .NavigationItemActive {
        color: var(--color-main)!important;
        border-bottom: 1px solid var(--color-main)!important;
    }
}
