.Features {
    text-align: center;
    border-top: 1px inset var(--color-lightgray);
    width: 90%;
    padding: 0 0 30px 0;
}  


@media (min-width: 500px) {
    .Features {
        width: 100%;
    }
}
