.Button {
    height: 40px;
    border-radius: 16px;
    cursor: pointer;
}

.Button:active, button:focus {
    outline: 0 !important;
    /* border:0 none !important; */
  }
.Button::-moz-focus-inner {
    outline: 0 !important;
    /* border:0 none !important; */
}


.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
    border: none;
    background-color: var(color-lightgray);
}

.ToolbarButton {
    height: 30px;
    border: 1px solid var(--color-main);
    text-transform: uppercase;
    color: var(--color-main);
    background-color: transparent;
    font-weight: bold;
}

.MainButton {
    background-color: var(--color-second);
    width: 60%;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0 40px 0;
}

@media (min-width: 500px) {
    .ToolbarButton {
        transition: all .3s;
    }
    .ToolbarButton:hover {
        border: 1px solid var(--color-second);
        color: var(--color-second);
    }
    .MainButton {
        transition: all .2s;
    }
    .MainButton {
        width: 150px;
    }
    .MainButton:hover {
        background-color: var(--color-main);
    }
}