.Socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.Socials a:not(:last-child) {
    margin-right: 40px;
    cursor: pointer;
}

.Socials img {
    width: 30px;
    height: 30px;
    color: red;
}

@media(min-width: 500px) {
    .Socials a {
        transition: all .3s;
    }
    .Socials a:hover {
        filter: brightness(115%);
    }
}

