

.BreadCrumb {
    margin: 5px 9px;
    text-decoration: none;
    color: var(--color-gray);
}


.current {
    pointer-events: none;
    border-bottom: 1px solid var(--color-lightgray);
    color: var(--color-lightgray);
}

@media (min-width: 500px) {
    .prev:hover {
        color: var(--color-main);
        text-decoration: underline;
    }
}

.prev {
    cursor: pointer;
    position: relative;
}

.prev::after {
    position: absolute;
    content: '>';
    right: -14px;
}