.Contacts {
    text-align: center;
    padding: 0;
    position: relative;
    width: 90%;
    padding-bottom: 40px;
    padding-top: 15px;
}

.Order {
    text-align: center;
    position: relative;
    width: 90%;
    padding-top: 15px;
}

.Orders {
    text-align: center;
    position: relative;
    width: 90%;
    padding-top: 15px;
    min-height: 650px;
}

@media (min-width: 500px) {
    .Contacts {
        padding-top: 0;
        min-height: 650px;
    }
    .Order {
        min-height: 80vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

.Features {
    text-align: center;
    border-top: 1px inset var(--color-lightgray);
    width: 90%;
    padding: 0;
}  


@media (min-width: 500px) {
    .Features {
        border-top: none;
    }
}

.Greetings {
    text-align: center;
    border-bottom: 1px inset var(--color-lightgray);
    width: 90%;
    padding: 0 0 40px 0 ;
}

@media (min-width: 500px) {
    .Greetings {
        border-bottom: none;
    }
}

.Portfolio {
    width: 90%;
    position: relative;
    text-align: center;
    padding: 0 0 40px 0;
}

@media (max-width: 499px) {
    .Portfolio {
        padding-top: 15px;
    }
}

.Services{
    text-align: center;
    /* Greetings Component has 95% width */
    padding: 0;
    position: relative;
    width: 90%;
    padding: 0 0 40px 0;
}

.Auth {
    text-align: center;
    padding: 0;
    position: relative;
    width: 90%;
    padding: 0 0 40px 0;
}

@media (max-width: 499px) {
    .Services {
        padding-top: 15px;
    }
}
