.PortfolioItems {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline-start: 0;
    padding-bottom: 20px;
}

@media (min-width: 500px) {
    .PortfolioItems {
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 0 0 10px 0;
        margin: 0;
    }
}