.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.NavToolbar {
    align-items: flex-start;
}

.NavFooter {
    align-items: center;
}

.NavigationItems li a{
    color: var(--color-gray);
    text-transform: initial;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

