.AdvConstructor {
    position: relative;
    width: 90%;
    min-height: 650px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

